{% extends "base.njk" %}
{% block titulo %}Libro | Nuevo{% endblock %}
{% block contenido %}
    <h1>Inserción de nuevo libro</h1>
    <form action="/libros" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Titulo:
                {% if errores.titulo %}
                    <p class='text-danger'>{{ errores.titulo }}
                    </p>
                {% endif %}
                <input type="text" class="form-control" name="titulo" placeholder="Nombre del libro..."></label>
            </div>
            <div class="form-group">
                <label>Autor:
                    <select class="form-control" name="autor" placeholder="Autor del libro...">
                        {% for autor in autores %}
                            <option value="{{ autor.id }}">{{ autor.nombre }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label>Editorial:
                    <input type="text" class="form-control" name="editorial" placeholder="Editorial del libro..."></label>
                </div>
                <div class="form-group">
                    <label>Precio:
                        {% if errores.precio %}
                            <p class='text-danger'>{{ errores.precio }}
                            </p>
                        {% endif %}
                        <input type="number" class="form-control" name="precio" placeholder="Precio del libro..."></label>
                    </div>
                    <div class="form-group">
                        <label>Portada:
                            <input type="file" class="form-control" name="portada"></label>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Enviar
                        </button>
                    </form>
                {% endblock %}