<nav>
    <a href="/libros"><button class="btn btn-dark" >Listado de libros</button></a>
    <a href="/libros/nuevo"><button class="btn btn-dark" >Nuevo libro</button></a>
    <a href="/autores/nuevo"><button class="btn btn-dark" >Nuevo Autor</button></a>
    
</nav>